body {
    font-family: "Roboto", sans-serif;
     text-decoration: none;
     color: #434455;
     letter-spacing: 0.02em;
     background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;

}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
}
.nav-link-menu {
    display: flex;
    gap: 40px;
    padding-left: 76px;

}

.nav-contacts-menu {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        
}
    
.logo-span-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.logo:hover {
    color: #404bbf;
}

.logo:focus {
    color: #404bbf;
}

.main-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main-nav-link:hover {
    color:#404bbf;
}

.main-nav-link:focus {
    color:#404bbf;
}

.nav-links-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-links-contacts:hover {
    color: #404bbf;
 }
 .nav-links-contacts:focus {
     color: #404bbf;
 }

.main-container-head {
    background: #2e2f42;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 120px;
}

.main-header {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        
     
}

.main-button {
    font-weight: 500;
    background: #4d5ae5;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    width: 169px;
    
    /* height: 56px; */
    
    

}

.main-button:hover {
background-color: #404BBF;
}
.main-button:focus {
background-color: #404BBF;
}

.main-page-descr {
    display: flex;
}

.main-page-descr-benefits {
    display: flex;
   gap: 24px;
}


.main-page-descr-header {
    display: none;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}


.main-page-descr-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.main-page-team {
    background: #f4f4fd;
    /* height: 732px; */
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 120px;
}

.main-team-header {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        padding-top: 120px;
        padding-bottom: 72px;
        
}

.main-page-team-descr {
        background: #ffffff;
}

.main-page-team-descr-class {
    display: flex;
    gap: 24px;
    justify-content:center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    text-align: center;
   
}


.team-descr {

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-bottom: 32px;
        text-align: center;
}

.main-portfolio {
margin-top: 120px;
margin-bottom: 120px;
}

.main-portfolio-header {
font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}

.main-name-portfolio {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        color: #2e2f42;
        letter-spacing: 0.02em;
        padding-left: 16px;
        padding-top: 32px;

}

.main-portfolio-descr {
/* display: flex; */
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    
}

.name-portfolio-descr {
    font-weight: 400;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-left: 16px;
        padding-bottom: 32px;
       
}

.portfolio-descr{
    border: 1px solid #e7e9fc;
}
.main-page-footer {
    background: #2e2f42;
        /* height: 312px; */
}

.logo-footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
        
            
}
.logo-footer .logo-footer-accent {

    color: #F4F4FD;
    padding-bottom: 16px;
}

.descr-footer {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
       
}



address {
font-style: normal
}
